<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "application", "appointments" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
